.container {
  display: grid;
  grid-template-columns:  repeat(8, minmax(3vmin, 1fr));
  grid-template-rows:  repeat(8, minmax(3vmin, 1fr));
  grid-gap: 0;
  margin: auto;
  height: 90vmin;
  width: 90vmin;
}
.container div {
  aspect-ratio: 1;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-touch-callout: none;
}

.white {
  background-color: #e8c9a0;
}

.black {
  background-color: #6c340b;
}

.piece {
  max-height: 100%;
  max-width: 100%;
  text-align: center;
  vertical-align: middle;
}

.valid-move {
  outline: 10px solid forestgreen;
  outline-offset: -5px;
  z-index: 10;
}

img {
  max-height: 95%;
  max-width: 95%;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  pointer-events: none;
}

img::selection      {background:transparent;color:inherit;}
img::-moz-selection {background:transparent;color:inherit;}
