.container {
  display: grid;
  grid-template-columns:  repeat(8, 100px);
  grid-template-rows:  repeat(8, 100px);
  grid-gap: 0px;
  margin: auto;
  width: 50%;
}
.container div {
  aspect-ratio: 1;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.white {
  background-color: #e8c9a0;
}

.black {
  background-color: #6c340b;
}

.piece {
  max-height: 100%;
  max-width: 100%;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.valid-move {
  outline: 6px solid forestgreen;
  outline-offset: -3px;
  z-index: 10;
}

img {
  max-height: 95%;
  max-width: 95%;
  text-align: center;
  vertical-align: middle;
  line-height: 95px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-touch-callout: none;
  pointer-events: none;
}
